<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>
                <a class="nav-link" href="/Notes/Index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-clipboard"></i></div>
                    Notlar
                </a>
                <a class="nav-link" href="/Notes/AddNotes/">
                    <div class="sb-nav-link-icon"><i class="fas fa-clipboard"></i></div>
                    Yeni Not Ekle
                </a>
            </div>
        </div>
    </nav>
</div>